/* BISON NAV WALKER CSS */
.bison-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bison-menu-item-link{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.bison-menu-item-link .fas{
  margin-right: 5px;
  margin-top: 5px;
}